{% extends 'base.html.twig' %}
{% block body %}
    <div style="padding: 40px; font-family: Arial, sans-serif;">
        <h2>Authentication pages</h2>
        <p>
            {% if app.user %}
                <a href="{{ path('app_notes') }}">Go to Notes</a>
            {% else %}
                <a href="{{ path('app_login') }}">Login to access Notes</a>
            {% endif %}
            |
            <a href="{{ path('app_signup') }}">Go to Sign up</a>
        </p>
        <div id="app">here</div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #app {
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock %}